body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.big-nav{
  display: flex;
  align-items: center;
  background-color: rgb(53,56,57);
}

.nav-title{
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1rem!;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.secondary.menu .item{
  color: rgb(211,211,211);
  padding: 2px 2px;
}

.ui.secondary.menu a.item:hover{
  color: white;
}

.ui.secondary.menu .active.item{
  color: white;
}

.ui.secondary.menu .active.item:hover{
  color: white;
}

#nav-title{
  color: white;
  padding: 10px;
}

.ui.secondary.menu{
  width: 100%;
}

.big-container{
  padding: 1rem;
}

.ui.container.shadow-container{
  border: 1px rgba(0,0,0,.2);
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  background-color: #fff;
  padding: 1rem;
  margin-left:0!important;
  margin-right: 0!important;
  z-index: 2;
  margin-bottom: 1rem;
}

main{
  background-color: #e9e8e6;
}

.ui.label {
  margin-bottom:1em;
  margin-top: none;
  margin-left: 7px;
}

.ui.form:not(.unstackable) [class*="equal width"].fields:not(.unstackable)>.field{
  margin: 0 0 10px;
}

.ui.container .suggested-container{
  display: flex;
  width: 100%!important;
  max-width: auto!important;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 0!important;
  margin-right: 0!important;
  padding-left: 0;
  padding-right: 0;
}

.slide-show{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: auto;
}

.ui.card{
  margin: 10px;
  margin-top: 0;
}

.suggested-container .ui.card{
  width: 20%;
  height: 100%;
}

.suggested-container .a{
  width: 100%;
}

.suggested-container .content {
  padding: 5px;
}

.content .header {
  color: black;
}

.content .meta {
  color: rgb(211,211,211);
}

.content .description {
  color: black;
}

.slide-show .ui.secondary.menu .item:hover{
  color: black;
}

.slide-show .ui.secondary.menu {
  margin-top: 0;
}

.slide-show .ui.header {
  width: 100%;
  text-align: center;
}

.ui.container .single-photo-container{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.header.single-header{
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.ui.container .single-post-container{
  display: flex;
  justify-content: space-between;
}

.ui.container .single-post-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0!important;
  padding: 0;
}

.ui.container.profile-picture-container{
  width: 40%;
  padding: 0;
  margin: 0!important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ui.container.info-and-buttons{
  width: 60%;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 0!important;
}

.ui.card .single-post-card{
  flex: 1 20%;
}

.ui.blue.button.get-pack-button{
  width: 40%;
  border-radius: 20px;
  align-self: center;
}

.ui.container .single-post-para{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #e9e8e6;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  padding: 15px 10px;
  margin: 1rem 0!important;
}

.buttons-div {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.ui.secondary.menu.tags-menu{
  padding-left: 1rem;
}

img.ui.image.profile-picture{
}

.ui.secondary.menu.tags-menu .item{
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  padding: 10px;
  color: gray
}

.ui.secondary.menu .item:hover{
  background-color: #e9e8e6;
  color: black;
}

.ui.container.three-suggestions-container{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.ui.container.three-suggestions-container .ui.card{
  width: 100%;
}

.three-suggestions .ui.header{
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.ui.secondary.menu.see-all-skills{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.three-suggestions-link{
  width: 33%;
  padding: 1rem;
}

.ui.image.skill-photo{
  width: 100%;
}

#skill-container{
  display: block;
  flex-direction: column;
  max-width: inherit;
}

.ui.container.links-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.ui.vertical.menu.links-menu{
  width: 50%;
}

h2.ui.header.links-menu-header{
  padding-top: 15px;
  text-align: center;
}

.ui.vertical.menu.links-menu .item{
  text-align: center;
}

.skill-buttons-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-skill-description{
  margin-bottom: 0;
}

.new-sound-button-div{
  display: flex;
  justify-content: center;
  width: 100%;
}

.ui.header.new-post-header{
  text-align: center;
  width: 100%;
}

.ui.icon.input{
  width: 100%;
  margin-bottom: 1rem;
}

#tags-search{
  width: 100%;
}

.ui.form .fields{
  flex-direction: column;
}

.new-form-submit-one{
  margin-bottom: 1rem;
}

.ui.form{
  padding-bottom: 1rem;
}

.ui.button{
  margin-top: 1rem;
}

.ui.container.chosen-tags-container{
  padding: 1rem;
  font-size: 1rem;
  min-height: 2.5rem;
}

#add-tag-button{
  width: 30%;
  align-self: center;
  border-radius: 20px;
}

.ui.container.user-profile-data{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0!important;
  padding: 0;
}

.ui.container.user-info-and-photo{
  display: flex;
}

.ui.header.top-ten-subheader {
  text-align: center;
  margin-top: 0;
}

.ui.container.header-container{
  margin-bottom: 1rem;
}

#most-popular-container{
  background-color: black;
  width: 100%;
}

#top-ten-header{
  color: #d4d4d5;
}

#top-ten-shadow-container{
  background-color: #d4d4d5;
}

.ui.celled.list>.item{
  display: flex;
  align-items: center;
}

#image-preview{
  align-self: center;
  margin-bottom: 1rem;
}

#image-preview-header{
  margin-top: 0;
}

.ui.card.user-info-card{
  align-self:center;
}

.ui.card>.extra.account-stats{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ui.button.follow-user-button{
  align-self: center;
}

#community-hero{
  background-image: url(https://wallpaperbat.com/img/236681-abstract-paintings-of-animals-abstract-paintings-wallpaper.jpg);
  background-position: center;
  background-size:cover;
  width: 100%;
}

#sound-page-hero{
  background-image: url(https://wallpaperbat.com/img/175383-drawing-painting-jazz-messenger-iv-gil-mayers-picture-nr-20845.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

#skill-page-hero{
  background-image: url(https://wallpaperbat.com/img/152925-drawing-painting-aboriginal-jazz-gil-mayers-picture-nr-18867.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

#home-page-hero{
  background-image: url(https://wallpaperbat.com/img/10293-jeremy-sutton-studios-art-of-jazz-2018-jeremy-sutton-studios.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}


#community-header{
  width: 100%;
  text-align: center;
  padding: 5rem;
  color: #fff;
  text-shadow: 2px black;
  font-size: 5rem;
  text-decoration: underline;
}

#top-creatives-title{
  margin-top: 2rem;
  margin-bottom: 0;
}

#secondary-creatives-title{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.ui.list>.item>img.image.top-post-icon{
  width: 4em;
  height: 4em;
} 
.ui.header.discover-menu-subheader{
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

.ui.container.sound-search{
  padding: 1rem;
}

.ui.container.sound-search>.ui.header{
  width: 100%;
  text-align: center;
}

.ui.header.sound-search-header{
  margin: 0;
}

.ui.container.chosen-tags-container{
  border: 1px rgba(0,0,0,.2);
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  background-color: #fff;
  padding: 1rem;
  padding-top:.5rem;
  z-index: 2;
  margin-left: 0!important;
  margin-right: 0!important;
  margin-bottom: 1rem;
}

.ui.container.chosen-tag{
  padding: 0;
  margin: 0;
}

.ui.container.chosen-tags-container>.ui.card{
  margin-top: 0;
}

.chosen-tags-container .ui.secondary.menu{
  margin-bottom: 0;
}

.ui.secondary.menu .ui.animated.button{
  margin-top: 0;
}

/*Media Queries*/

@media screen and (max-width: 540px){

  *{
    max-width: 540px;
  }

  .ui.card{
    margin: 0;
  }

  .three-suggestions-link{
    padding: 0.3rem;
  }  

  .ui.header.single-header{
    margin-top: 0.5rem;
  }

  .ui.container .single-post-container{
    flex-direction: column;
  }

  .small-screen-sound-author a{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .suggested-container .ui.card{
    width: 30%;
  }

  .ui.container .user-profile-data{
    justify-content: center;
  }

  .ui.container .single-post-content{
    width: 100%!important;
    flex-direction: column;
  }

  .ui.card.user-info-card{
    width: 100%;
  }

  .ui.card>.content.user-description{
    text-align: center;
  }
}

@media screen and (max-width:375px){
  * {
    max-width: 375px;
  }

  .slide-show>.ui.secondary.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide-show>.ui.secondary.menu>a{
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 1.5rem;
  }

  .ui.container .suggested-container{
    justify-content: center;
  }

  .ui.card.little-slide{
    width: 100%;
  }

  .ui.card.little-slide .content{
    text-align: center;
    font-size: 1.5rem;
  }

  #home-page-hero{
    max-width: 375px!important;
  }

  #community-header{
    padding: 3rem 0;
  }

  #sound-page-hero{
    margin-right: 0!important;
    margin-left: 0!important;
  }

  #community-header{
    padding: 3rem 0;
    font-size: 4rem;
  }

  .ui.header.top-ten-subheader{
    color: white;
  }

  #top-ten-buttons{
    padding-top: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #top-ten-buttons button{
    width: 40%;
  }
  #top-ten-buttons button.little-favorite-buttons{
    width: 25%;
    margin-bottom: 1rem;
  }

  #most-popular-container{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 1rem;
  }

  #small-favorite-header{
    width: 100%;
    text-align: center;
  }
}